@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #fdfbf7;
    /* background-color: #fafafa; */
  font-family: "Poppins", sans-serif;
}
h1,
h2 {
  /* font-family: "Cardo", serif; */
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

@layer utilities {
  .animate-fade-in {
    animation: fadeIn 0.2s ease-in-out;
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(5px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
