@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #fdfbf7;
  /* background-color: #fafafa; */
  font-family: "Poppins", sans-serif;
  font-style: normal;
}
h1,
h2 {
  /* font-family: "Cardo", serif; */
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

@layer utilities {
  .animate-fade-in {
    animation: fadeIn 0.2s ease-in-out;
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(5px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}


/* For bullets */
.prose ul {
  list-style-type: disc;
  padding-left: 1.5rem; /* indent bullets */
}

.prose ol {
  list-style-type: decimal;
  padding-left: 1.5rem;
}